doctype html
html
    head
        title="Google log in"
        style 
            include style.css
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    body
        div.app
            p.bold Rare Books Bookstore
            p Rare Books buys and sells rare and collectable books in all fields, especially modern first editions, private press and antiquarian books on all subjects.
            a(href="/auth/google").link
                i.fa.fa-google
                p Sign in with #[span.bold Google]