doctype html
html
    head
        title="Google log in"
        style 
            include style.css
    body
        div.app
            p Hello! Login successful!
            p Find all books you need.